{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Compra de Panaderia</title>
</head>
<body>
    <h1>Compra de Panaderia</h1>
    <ul>
        <li>Producto: {{ compra_pan.pan }}</li>
        <li>Cantidad: {{ compra_pan.cantidad }}</li>
        <li>Peso: {{ compra_pan.peso }}</li>
        <li>Orden de Compra: {{ compra_pan.id }}</li>
    </ul>
    <a href="{% url 'app1:panaderia' %}" class="btn btn-secondary">Realizar otra compra</a>
</body>
</html>
{% endblock %}

