{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Elija una de las siguientes opciones</title>
</head>
<body>
    <h1>Panaderia</h1>
    <form method="post">
        {% csrf_token %}
        <label for="panaderia">Seleccione una fruta:</label>
        <select name="pan" id="pan">
            <option value="figazas">Pan figaza</option>
            <option value="librito">Librito</option>
            <option value="chipa">Chipa</option>
        </select>
        <br>
        <label for="panaderia">Seleccione un peso:</label>
        <select name="peso" id="peso">
            <option value="kg">Kilogramos</option>
            <option value="gramo">Gramos</option>
        </select>
        <br>
        <label for="cantidad">Ingrese la cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required>
        <br>
        <button type="submit">Agregar al carrito</button>
    </form>
<a  href="{% url 'app1:menu' %}" class="btn btn-secondary">Volver</a>
</body>
</html>
{% endblock %}
